.nav {
  background-color: cornflowerblue;
  color: black;
}

.navList {
  display: flex;
  padding-top: 15px;
}

li {
  list-style: none;
  margin-right: 100px;
}

.navList a {
  text-decoration: none;
  color: white;
}

.active {
  padding: 15px;
}

.active:hover {
  background-color: white;
  color: black;
}

.container {
  margin: 40px 0;
  padding: 20px;
  background-color: aqua;
}

.card {
  margin: 20px 0;
}

.btn a {
  text-decoration: none;
  color: #000;
}

footer {
  background-color: cornflowerblue;
  color: black;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup img {
  width: 100%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.form-control {
  display: block !important;
  width: 100%;
  min-height: 80vh;
  margin-top: 20px !important;
}

.form-title {
  text-align: center;
}

.form-contact {
  display: block;
  width: 100%;
}

.form-input {
  width: 60%;
  margin-left: 15% !important;
  margin-bottom: 16px !important;
}

.textarea {
  resize: none;
}

.welcome {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

#buttonDiv,
.logout {
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

#buttonDiv {
  width: 220px;
}

#buttonDiv,
.logout:hover {
  background-color: aqua;
  color: #fff;
}

.new-container {
  padding: 0 30px;
}